name: Test create release

on:
  push:
    tags:
      - "prod-[1-9]+.[0-9]+.[0-9]+"

jobs:
  test:
    name: Test create release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Fetch Tags
        run: |
          git fetch --prune --unshallow --tags -f
      - name: Set tag variables
        id: tags
        run: |
          echo ::set-output name=latest::$(git tag --sort=-version:refname | sed -n "1,1p")
          echo ::set-output name=previous::$(git tag --sort=-version:refname | sed -n "2,2p")
      - name: Generate Changelog
        id: changelog
        uses: metcalfc/changelog-generator@v0.4.0
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
          head-ref: ${{ steps.tags.outputs.latest }}
          base-ref: ${{ steps.tags.outputs.previous }}
      - name: Creating Release
        uses: ncipollo/release-action@v1
        with:
          body: |
            Changes in this Release: 
            ${{ steps.changelog.outputs.changelog }}
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Release ${{ env.GITHUB_REF_SLUG }}
          allowUpdates: true
