name: Test output style id

on:
  push:
  workflow_dispatch:

env:
  NODE_VERSION: "16"
  MAPBOX_STYLE_ID_DARK_A: "secrets.MAPBOX_STYLE_ID_DARK_A"
  MAPBOX_STYLE_ID_DARK_B: "secrets.MAPBOX_STYLE_ID_DARK_B"
  MAPBOX_STYLE_ID_LIGHT_A: "secrets.MAPBOX_STYLE_ID_LIGHT_A"
  MAPBOX_STYLE_ID_LIGHT_B: "secrets.MAPBOX_STYLE_ID_LIGHT_B"

jobs:
  init-style-type:
    name: "Initialise style type as output"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    outputs:
      type: ${{ steps.set.outputs.type }}

    steps:
      - uses: actions/checkout@v2
      - id: "set"
        run: |
          echo "::set-output name=type::$(sed -n 's/REACT_APP_MAPBOX_STYLE_TYPE = "\(.*\)"/\1/p' netlify.toml)";

  test-a:
    name: Test A
    runs-on: ubuntu-latest
    needs: [init-style-type]
    timeout-minutes: 5

    env:
      STYLE_TYPE: ${{ needs.init-style-type.outputs.type }}

    if: env.STYLE_TYPE == 'A'
    steps:
      - uses: actions/checkout@v2
      - name: Try to print out env vars
        run: |
          echo ${{ env.STYLE_TYPE }}

  test-b:
    name: Test B
    runs-on: ubuntu-latest
    needs: [init-style-type]
    timeout-minutes: 5

    env:
      STYLE_TYPE: ${{ needs.init-style-type.outputs.type }}

    if: env.STYLE_TYPE == 'B'
    steps:
      - uses: actions/checkout@v2
      - name: Try to print out env vars
        run: |
          echo ${{ env.STYLE_TYPE }}
