name: Test output style id

on:
  workflow_dispatch:

env:
  NODE_VERSION: "16"
  MAPBOX_STYLE_ID_DARK_A: ${{ secrets.MAPBOX_STYLE_ID_DARK_A }}
  MAPBOX_STYLE_ID_DARK_B: ${{ secrets.MAPBOX_STYLE_ID_DARK_B }}
  MAPBOX_STYLE_ID_LIGHT_A: ${{ secrets.MAPBOX_STYLE_ID_LIGHT_A }}
  MAPBOX_STYLE_ID_LIGHT_B: ${{ secrets.MAPBOX_STYLE_ID_LIGHT_B }}

jobs:
  init-style-ids:
    name: "Initialise style ID as outputs"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    outputs:
      dark: ${{ steps.set.outputs.dark }}
      light: ${{ steps.set.outputs.light }}

    steps:
      - uses: actions/checkout@v2
      - id: "set"
        name: "Set outputs"
        run: |
          STYLE_TYPE=$(sed -n 's/REACT_APP_MAPBOX_STYLE_TYPE = "\(.*\)"/\1/p' netlify.toml)
          if [[ "$STYLE_TYPE == 'A' ]]; then
            echo "::set-output name=dark::${{ env.MAPBOX_STYLE_ID_DARK_A }}";
            echo "::set-output name=light::${{ env.MAPBOX_STYLE_ID_LIGHT_A }}";
          else
            echo "::set-output name=dark::${{ env.MAPBOX_STYLE_ID_DARK_B }}";
            echo "::set-output name=light::${{ env.MAPBOX_STYLE_ID_LIGHT_B }}";
          fi

  test:
    name: Test access output style ids
    runs-on: ubuntu-latest
    needs: [init-style-ids]
    timeout-minutes: 5

    env:
      MAPBOX_STYLE_ID_DARK: ${{ needs.init-style-ids.outputs.dark }}
      MAPBOX_STYLE_ID_LIGHT: ${{ needs.init-style-ids.outputs.light }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Try to print out env vars
        run: |
          echo ${{ env.MAPBOX_STYLE_ID_DARK }}
          echo ${{ env.MAPBOX_STYLE_ID_LIGHT }}
