name: Test new output with tags
# https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Get tag version
        if: startsWith(github.ref, 'refs/tags/')
        id: get_tag_version
        # run: echo ::set-output name=TAG_VERSION::${GITHUB_REF/refs\/tags\//}
        run: echo "TAG_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT
      
      - name: Echo tag
        run: echo ${{ steps.get_tag_version.outputs.TAG_VERSION }}